@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #0a192f;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    width: 40px;
    cursor: pointer;
    position: relative;
}

.navContainer {
    width: 100%;
    background-color: #0a192f;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 5;
    margin-top: -50px;
    
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px 15px;
    margin-left: 50px;
    margin-right: 50px;

}

.navText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    list-style-type: none;
    position: relative;
    gap: 15px;
}

.navText li {
    margin: 0 15px;
}

.navText a {
    color: #828B9B;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    text-decoration: none;
    font-size: 15px;
    font-weight:  600;    
    padding: 5px 10;
    position: relative;
    letter-spacing: .5px;
    overflow: hidden;

}

.navText a:hover{
    color: #59e3c7;

}
.navText .active {
    color: #59e3c7;
}

.navText a::after {
    content: '';
    display: block;
    height: 1.5px;
    background: #59e3c7;
    transition: width 0.3s;
    width: 0;
}

.navText a:hover::after,
.navText .active::after {
    width: 100%;
}

.navText a#contactbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #59e3c7;
    padding: 2px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}




.navText a#contactbtn:hover {
    background-color: #59e3c7;
    color: #0a192f;
}

.nav-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 10px;
}

/*Social Media links and Email Address*/

.botStick{
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 50%;
    margin-left: 30px;
    margin-right: 30px;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    
}

.icons {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
    justify-content: end;
    z-index: 1;

}

.icons a{
    display: inline-flex;
    justify-content: center ;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    transition: color .3s;
    transition: transform .3s;
    z-index: 1;

}

.icons a:hover{
    display: flex;
    background-color: #0a192f;
    color: #59e3c7;
    transform: scale(1.5);
}

.align {
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
    justify-content: end;
    z-index: 1;

}
.align #mail {

    writing-mode: vertical-lr;
    color: white;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: .9rem;
    padding: 5px 0;
    position: relative;
    margin: 0 0 1rem 0;
    display: inline-block; 
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.align #mail:hover{
    transform: scale(1)translateY(-8px);
    color: #59e3c7;
    z-index: 2;
}

.line{
    content: '';
    width: 2px;
    height: 150px;
    margin-bottom: 0px;
    background-color: #a8b2d1;
    justify-content: center;
    align-items: center;
}


section{
    min-height: 50vh;
    padding: 1rem 1% 5rem;
}

.home{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 110px;
    margin-left: 100px;
    margin-right: 100px;
}


.home{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 110px;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 50px;
}

.homePage{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    margin-top: 40px;

}

span{
    font-family: Poppins;
    color: #59e3c7;
    font-weight: bold;
}

.school, .course, .hd {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    color: #59e3c7;
    font-size: 20px;
    font-weight: 600;
  }  

.homePage h3{
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    color: #828B9B;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.homePage  h1{
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    color: #59e3c7;
    font-size:clamp(12px, 60px, 24px);
    font-weight: 400;
    margin-top: 1.5rem;
    margin-top: 1.5rem;
    line-height: 1;
}

.name-highlight {
    color: #ccd6f6;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    font-size: clamp(40px, 8vw, 80px); /* Font size applied with clamp function */
  }

.profile{
    border-radius: 20px;
    z-index: 3;
    margin-right: 30px;
}


.profile img{
    margin-top: 130px;
    position: relative;
    width: 300px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 20px;
}

.profile img:hover{
    transform: scale(1.1);
    border-color: #59e3c7;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 10px 0 #59e3c7;
}

.homePage p{
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    color: #D4DEEE;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative; 
    gap: 40px;
    z-index: 3;
}

.button1, .button2 {
    font-family: Poppins;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #0a192f;
    font-size: 1rem;
    color: #D4DEEE;
    border: 2px solid #59e3c7;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    z-index: 3;
}

.button1:hover, .button2:hover {
    background-color: #59e3c7;
    color: #0a192f;
    transform: scale(1.1);
}

.rolesAnimation{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.rolesAnimation span{
    position: relative;
}

.rolesAnimation span::before{
    content: "Student";
    left: 20px;
    width: 100%;
    height: 100%;
    color: #59e3c7;
    border-radius: 10px;
    animation: words 20s infinite;
}

.rolesAnimation span::after{
    content: "";
    background-color: #0a192f;
    position: absolute;
    width: calc(100% +8px);
    height: 100%;
    border-left: -2px solid #59e3c7;
    right: -8px;
    animation: cursor .6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 5px solid #59e3c7; ;
    }
    
}

@keyframes words{
    0%,20%{
        content: "Leader";
    }
    21%,40%{
        content: "Designer";
    }
    41%,60%{
        content: "Coder";
    }
    61%,80%{
        content: "Gamer";
    }
    81%,100%{
        content: "Student";
    }
    
}

@keyframes typing{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    0%, 5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% , 100%{
        width: calc(100% + 8px);
    }
}

/* ABOUT PAGE */
.heading{
    width: 100%;
    margin-left: 100px;
    margin-right: 10%;
    font-family: "Poppins";
    font-size: 3.5rem;
    text-align: center;
    margin: 5rem 0;
    color: #D4DEEE;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.num{
    display: inline-block;
    border-style: solid;
    border-color: #59e3c7;
    border-radius: 10px;
    font-size: 2rem;
    padding: 18px 10px 0px 10px;
    position: relative;
    margin-left: 160px;
    color: #D4DEEE;
    justify-content: center;
    align-content: center;
    width: 50px;
    
}

.arrowline{
    display: inline-block;
    border: 2.2px #59e3c7 solid;
    border-radius: 25px;
    width: 10rem;
    position: relative;
    align-items: center;
    justify-content: center;
}


.About{
    padding: 100px 15px;
    background-color: #0a192f;
    align-items: start;
    z-index: 3;
}

.intro{
    display: flex;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 2;
    flex-direction: column;
    color: white;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.about h2{
    color: white;
    margin-bottom: 5rem;
    justify-content: center;
    align-content: center;
}

.timeline-items{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative
}

.timeline-items::before{
    content: ""; 
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #59e3c7;
    left: calc(50% - 1px);
    top: 0; 
    bottom: 0; 
}


.timeline-item{
    color: white;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.3s ease-in-out;
    z-index: 3;
}

#elem:hover{
    
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("paltok.jpg");
    background-size: cover;
    /* border-width:  0px 5px 5px 0px; */
    box-shadow: 4px 4px #59e3c7;
    border-style: solid;
    border-color: #59e3c7;
    transform: scale(1.01);
    background-position: start;
    bottom: 10px;
    right: 10px;

}

#hs:hover, #shs:hover{
    
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("roces.jpg");
    background-size: cover;
    background-position: bottom;
    scale: 1.02;
    border-style: solid;
    border-color: #59e3c7;
    box-shadow: 4px 4px #59e3c7;
    bottom: 10px;
    right: 10px;

}

#feu:hover{
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("feu.png");
    background-size: cover;
    background-position: bottom;
    scale: 1.02;
    box-shadow: 4px 4px #59e3c7;
    bottom: 10px;
    right: 10px;
    border-style: solid;
    border-color: #59e3c7;

}
.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #59e3c7;
    box-shadow: 0 0 25px #59e3c7, 0 0 50px #59e3c7, 0 0 100px #59e3c7;
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50px;
}

.timeline-date{
    font-size: 35px;
    font-weight: bold;
    margin: 6px 7px 15px 20px;
    color: white;
    margin-top: -10px;

}

.timeline-content{
    background-color: #0a192f;
    border: 3px solid #59e3c7;
    padding: 30px 50px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: .2sec ease-in-out;
}
.timeline-content h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;

}

/* PROJECT PAGE */

.projects{
    background-color: #0a192f;
    align-items: start;
    z-index: 3;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2.5rem;
    justify-content: center;
}

.project-box{
    background-color: #0a192f;
    background-size: cover;
    width: 75%;
    height: 300px;
    border-radius: 3rem;
    border: 5px solid #59e3c7;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 50px;
    z-index: 3;
    text-decoration: none;

}

#hxh:hover{
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("mockUp.png");
    background-size: cover;
    background-position: bottom;
    scale: 1.02;
    border-style: solid;
    border-color: #59e3c7;
    top: 100px;
    right: 100px;
    z-index: 3;

}
#pokemonbox:hover{
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("pokebox.png");
    background-size: cover;
    background-position: bottom;
    scale: 1.02;
    border-style: solid;
    border-color: #59e3c7;
    top: 100px;
    right: 100px;
    z-index: 3;

}
#pokemoncards:hover{
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("pokemoncards.png");
    background-size: cover;
    background-position: bottom;
    scale: 1.02;
    border-style: solid;
    border-color: #59e3c7;
    top: 100px;
    right: 100px;
    z-index: 3;

}


#flexbox:hover{
    background-image: linear-gradient(to bottom, rgba(231, 139, 234, 0.52), rgba(10, 4, 75, 0.73) ),url("flexbox.png");
    background-size: cover;
    background-position: bottom;
    scale: 1.02;
    border-style: solid;
    border-color: #59e3c7;
    top: 100px;
    right: 100px;
}

.project-box .project-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
    margin-top: -30px;
}

.project-info h4{
    color: #59e3c7;
    font-size: 3.5rem;
    font-weight: bold;
}

.project-info p{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    max-height: 100px;
    margin: auto;
}

/* SERVICE PAGE */
.services{
    padding: 100px 15px;
    background-color: #0a192f;
    align-items: start;
    z-index: 3;
}

.service-box{
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.services .heading{
    margin-bottom: 5rem;
}

.service-item #icon-service{
    display: inline-flex;
    justify-content: center ;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 55px;
    color: #828B9B;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
    transition: color .3s;
    transition: transform .3s;
    z-index: 1;
}

.service-item #icon-service:hover{
    color: #59e3c7;
    transform: scale(1.05);
}
.wrapper{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    margin-left: 160px;
    margin-right: 160px;
    gap: 30px;

}

.service-item{
    height: 350px;
    width: 250px;
    background-color: #0a192f;
    border: 3px solid #59e3c7;
    border-radius: 10px;
    margin: 0 2rem;
    padding: 0px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: white;
    transition: .4sec ease-in-out;
    z-index: 3;

}

.service-item:hover{
    border: 3px solid #59e3c7;
    transform: translateY(-10px) scale(1.03);
    box-shadow: 4px 4px #59e3c7;
    bottom: 10px;
    right: 10px;
}

.service-item h2{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #59e3c7;
}

.service-item p{
    font-weight: 300;
    font-size: .9rem;
    color: #D4DEEE;
    margin-bottom: 10px;
}

/* CONTACT PAGE */

.contact{
    background-color: #0a192f;
    z-index: 3;
    
}

.contact h2{
    margin-bottom: 3rem;
    color: #D4DEEE;

}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
    z-index: 3;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #D4DEEE;
    z-index: 3;

}

.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    color: #D4DEEE;
    background-color: #0a192f;
    border-radius: 10px;
    border: 2px solid #59e3c7;
    outline: none;
    margin-bottom: 1rem;
    z-index: 3;

}

.input-group{
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 3;
}

.contact form .button1{
    z-index: 3;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 3;
}

.footer .social{
    text-align: center;
    padding-bottom: 5px;
    color: #59e3c7;
    z-index: 3;

}

.footer .social a{
    font-size: 25px;
    color: #ffffff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-in-out;
    z-index: 3;

}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: #59e3c7;
    z-index: 3;

}

.footer .copyright{
    margin-top: 10px ;
    text-align: center;
    font-size: 16px;
    color: #D4DEEE;
}

.footer .copyright:hover{
    margin-top: 10px ;
    text-align: center;
    font-size: 16px;
    color: #59e3c7;
}


@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 15px 15px;
        margin-left: 0px;
    
    }
    .navText {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #0a192f;
        width: 200px;
        border-radius: 5px;
        z-index: 1;
    }

    .navText li {
        margin: 10px 0;
    }

    .nav-toggle:checked ~ .navText {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        cursor: pointer;
        flex-direction: column;
    }

    .home {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homePage {
        margin-top: -90px;
    }

    .profile {
        margin-top: 20px;
    }

    .myProfile {
        width: 250px;
    }


}

@media (max-width: 768px) {
    .num{
        display: inline-block;
        border-style: solid;
        border-color: #59e3c7;
        border-radius: 10px;
        font-size: .5rem;
        padding: 5px 5px 0px 2px;
        position: relative;
        margin-left: 0px;
        color: #D4DEEE;
        justify-content: center;
        align-content: center;
        width: 50px;
        
    }
    .arrowline{
        display: inline-block;
        border: 2.2px #59e3c7 solid;
        border-radius: 25px;
        width: 18%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .profile{
        border-radius: 20px;
        z-index: 3;
        margin-right: 0px;
        margin-top: -80px;
    }
    
    
    .profile img{
        margin-top: 0px;
        position: relative;
        width: 100%;
        cursor: pointer;
        transition: .2s ease-in-out;
        border-radius: 20px;
    }
    
    .homePage p{
        font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
        color: #D4DEEE;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 1px;
    }
    .intro{
        width: 100%;
        margin: 0px;
        display: flex;
        font-family: "Poppins";
        font-weight: 500;
        line-height: 2;
        flex-direction: column;
        color: white;
        text-align: left;
    
    }
    
    .timeline-items::before{
        content: ""; 
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #59e3c7;
        left: calc(2.5% - 1px);
        top: 0; 
        bottom: 0; 
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd), .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    
    .timeline-dot{
        left: 0;
    }
    
    .num{
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .heading{
        font-size: 2rem;
    }

    .contact form .input-box input, .contact form textarea{
        width: 70%;
        padding: 15px;
        font-size: 1rem;
        color: #D4DEEE;
        background-color: #0a192f;
        border-radius: 10px;
        border: 2px solid #59e3c7;
        outline: none;
        margin-bottom: 1rem;
        z-index: 3;
    
    }
    .project-info h4{
        color: #59e3c7;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .project-info p{
        color: white;
        font-size: .9rem;
        font-weight: 600;
        max-height: 100px;
        margin: auto;
    }
    .projects-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .project-box .project-info{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        align-items: center;
    }
    .project-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #0a192f;
        background-size: cover;
        width: 190%;
        
        height: 300px;
        border-radius: 3rem;
        border: 5px solid #59e3c7;
        cursor: pointer;
        transition: .3s ease-in-out;
        margin-bottom: 50px;
        z-index: 3;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    
    }
    .home {
        flex-direction: column;
        align-items: center;
    }

    .homePage {
        align-items: center;
        text-align: center;
    }

    .homePage  h1{
        color: #64ffda;
        font-family: Poppins;
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: -10px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1;
    }

    .profile img {
        max-width: 250px;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:1285px){
    
    .projects-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    
}

@media(max-width:991px){

    .wrapper{
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 160px;
        margin-right: 160px;
        gap: 30px;
        align-items: center;
    
    }
    .botStick{
        display: none;
    }
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }
    .projects .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
        gap: 1rem;
        margin: 2rem auto;
        text-align: center;
    }

}

@media(max-width: 895px){
    .home{
        flex-direction: column-reverse;
    }
    .home img{
        width: 56vw;
    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .projects-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 768px){

}

/* -BENI */
